@font-face {
    font-family: minecraft;
    src: url(../fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/MinecraftBold-nMK1.otf);
    font-weight: bold;
}

@font-face {
    font-family: minecraft;
    src: url(..fonts/MinecraftItalic-R8Mo.otf);
    font-style: italic;
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/MinecraftBoldItalic-1y1e.otf);
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: minecraft;
}

body {
    display: block;
    font-size: 15px;
}

.banner {
    background: url(../images/spawn1.png);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner h1 {
    text-align: center;
    color: #fff;
    padding-top: 200px;
    font-family: minecraft;
    font-size: 10em;
    text-shadow: 1px 1px 20px black;
}

.banner h2 {
    text-align: center;
    color: #fff;
    font-size: 7.5em;
    text-shadow: 1px 1px 20px black;
}

main {
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/minecraft/dirt_bkg.jpg);
    background-size: 64px 64px;
}

header {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/minecraft/dirt_bkg.jpg);
    background-size: 64px 64px;
    box-shadow: 1px 1px 10px black;
    height: 20vh;
}

.indicators {
    margin-top: 50px;
}

.indicators>h2 {
    font-size: 1.5em;
}

main h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
}

main h2 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 50px;
}

main>p, header p {
    text-align: center;
    font-size: 2em;
    width: 70%;
    margin: auto;
}

.photos img {
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
}

footer {
    padding-top: 100px;
    color: grey;
}

@media only screen and (max-width: 1100px) {
    .banner h1 {
        font-size: 3em;
    }

    .banner h2 {
        font-size: 2em;
    }

    header {
        height: 30vh;
    }

    main h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 2em;
    }

    main>p, header p{
        font-size: 1em;
        width: 95%;
    }

    .photos img {
        width: 95%;
    }
}